.logo {
  display: block;
  background: no-repeat center url(../assets/logo.jpg);
  width: 240px;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  @include mobile() {
    display: block;
    background: no-repeat center url(../assets/logo-mobile.jpg);
    padding: 0;
    width: 118px;
  }
}

.bannerImg {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  @include mobile() {
    height: 185px;
  }
}

.titleText {
  @include mobile() {
    text-align: center;
    .smallTitle {
      display: flex;
      justify-content: center !important;
    }
  }
}
